*{
    font-family: 'Oswald';
}
h2{
    position: absolute;
    padding-top: 30px;
    margin-left: 20vh;
}

.images{
    display: grid;
    padding-top: 100px;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    align-items: center;
    margin-left: 20vh;
    column-gap: 0px;
}
body {
    background-image: url(./assets/background2.png);
    background-attachment: fixed;
    } 

